
	<%- include('header')%>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="index.php">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> About Us</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start middle content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<!-- contnt -->
		<div class="indya-col-md-9">
			<div class="indya-row about_m_t" style="align-items: center;">
				<div class="indya-col-lg-5 indya-col-md-6">
					<div class="about_img">
        	          <img src="images/about_img.jpg">
        			</div>
				</div><!--end/col-->
				<div class="indya-col-lg-7 indya-col-md-6">
					<div class="about_cntn">
						Launched in 2009 indyaspeak.com is an entertainment web portal. Developed with a motive of giving a platform to 	the writers.
						indyaspeak.com delivers all the content related to the poetry, articles, news, jokes, etc.
						Our innovative team is doing their best efforts to make the user experience more interesting and comfortable.
					</div>	
				</div><!--end/col-->
			</div><!--end/roe-->
		</div><!--end/col-->
		<!-- contnt -->
		<!-- right menu -->
		<div class="indya-col-md-3">
			<!-- start follow -->
				<?php include 'usefull-links.php';?>
				<?php include 'right-media.php';?>
				<!-- end follow -->
		</div><!--end/col-->
		<!-- right menu -->
	</div><!--end/row-->
</div>

<%- include('footer')%>