<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Account</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include ('header') %>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="index.php">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> Contact Us</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start middle content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<!-- contnt -->
		<div class="indya-col-md-9">
			<div class="indya-row about_m_t" style="align-items: center;">
				<div class="indya-col-lg-5 indya-col-md-6">
					<div class="about_img">
        	          <img src="images/contact-us.png">
        			</div>
				</div><!--end/col-->
				<div class="indya-col-lg-7 indya-col-md-6">
					<div class="contact_us">
						<ul>
							<li><a href="#"><span class="contnt_icon"><i class="fas fa-map-marker-alt"></i></span></a> Gurgaon -122002, HaryanaIndia</li>
							<li><a href="#"></a> For Sales/Support related Enquiries:</li>
							<li><a href="#"><span class="contnt_icon"><i class="fas fa-envelope-open"></i></span></a>support@indyaspeak.com</li>
						</ul>
					</div>	
				</div><!--end/col-->
			</div><!--end/roe-->
		</div><!--end/col-->
		<!-- contnt -->
		<!-- right menu -->
		<div class="indya-col-md-3">
			<!-- start follow -->
				<%- include ('usefull-links')%>
				<%- include ('right-media')%>
				<!-- end follow -->
		</div><!--end/col-->
		<!-- right menu -->
	</div><!--end/row-->
</div>

<%- include ('footer') %>