<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Account</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<?php ?>
	<%- include ('header') %>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="/">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> Disclaimer</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start middle content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<!-- contnt -->
		<div class="indya-col-md-9">
			<div class="terms_condition_txt">
				<ul>
					<li>Indyaspeak provides the Service on an "as is" and "as available" basis.</li>
					<li>Indyaspeak, its affiliates, agents and licensors disclaim all warranties and conditions, statutory or otherwise, including, without limitation, the implied warranties of merchantability, fitness for a particular purpose and non-infringement.</li>
					<li>Without limiting the foregoing, Indyaspeak does not warrant that the Service will be uninterrupted; be free from inaccuracies, errors, viruses or other harmful components; meet Your requirements; or operate in the configuration or with the hardware or software You use.
				</li>
				<li>Your use of the Service is solely at Your risk. Copyrights: Indyaspeak respects the intellectual property of others, and we ask our users to do the same. If notified of allegedly infringing, defamatory, damaging, illegal, or offensive content, Indyaspeak may, in its sole discretion, investigate the allegation and/or edit, remove or request the removal of such content. Notwithstanding the foregoing, Indyaspeak does not ensure that any such content will be edited or removed. Indyaspeak may terminate the password and account of users who infringe the intellectual property rights of others.</li>
				<li>Any Content in Fake News and Jokes section are just for fun and not meant to hurt anybody's sentiments or to spread any rumors. All content are posted by real users. If you find something abusive or objectionable, Do let us know about it at <span>abuse@indyaspeak.com</span>.
				</li>
					
				</ul>
			</div>
		</div><!--end/col-->
		<!-- contnt -->
		<!-- right menu -->
		<div class="indya-col-md-3">
			<!-- start follow -->
				<%- include ('usefull-links') %>
				<%- include ('right-media') %>
				<!-- end follow -->
		</div><!--end/col-->
		<!-- right menu -->
	</div><!--end/row-->
</div>

<?php ?>
<%- include ('footer') %>