<!-- start footer -->
<div class="indya-container-fluid footer_bg">
	<div class="indya-container">
		<div class="indya-row">
			<div class="indya-col-lg-3 indya-col-md-6">
				<div class="footer_menu">
					<h3>Jokes</h3>
					<ul>
						<li>
							<a href="#">Husband Wife Jokes</a>
						</li>
						<li>
							<a href="#">Political humor</a>
						</li>
						<li>
							<a href="#">Girlfriend-Boyfriend</a>
						</li>
						<li>
							<a href="#">Santa Banta</a>
						</li>
						<li>
							<a href="#">All time jokes</a>
						</li>
						<li>
							<a href="#">Celebrity jokes</a>
						</li>
						<li>
							<a href="#">Computer & Technology</a>
						</li>
						<li>
							<a href="#">Alia Bhatt Jokes</a>
						</li>
						<li>
							<a href="#">Jokes in hindi</a>
						</li>
						<!-- <li>
							<a href="#">Jokes of the day</a>
						</li>
						<li>
							<a href="#">One Liner Jokes</a>
						</li>
						<li>
							<a href="#">Funny Jokes for kids</a>
						</li> -->
						<!-- <li>
							<a href="#">Short Funny Jokes</a>
						</li>
						<li>
							<a href="#">April Fool Jokes</a>
						</li>
						<li>
							<a href="#">Yo Momma Jokes</a>
						</li>
						<li>
							<a href="#">Birthday Jokes</a>
						</li> -->
					</ul>
				</div>
			</div>
			<div class="indya-col-lg-3 indya-col-md-6">
				<div class="footer_menu">
					<h3>Poetry</h3>
					<ul>
						<li>
							<a href="#">Poems on life</a>
						</li>
						<li>
							<a href="#">Silly Poems</a>
						</li>
						<li>
							<a href="#">Poems to flirt</a>
						</li>
						<li>
							<a href="#">Patriotic Poems</a>
						</li>
						<li>
							<a href="#">Love Poems</a>
						</li>
						<li>
							<a href="#">Friendship Poems</a>
						</li>
						<li>
							<a href="#">Sad Poems</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="indya-col-lg-3 indya-col-md-6">
				<div class="footer_menu">
					<h3>Articles</h3>
					<ul>
						<li>
							<a href="#">Social</a>
						</li>
						<li>
							<a href="#">National Issues</a>
						</li>
						<li>
							<a href="#">Political</a>
						</li>
						<li>
							<a href="#">Cultural</a>
						</li>
						<li>
							<a href="#">Historical</a>
						</li>
						<li>
							<a href="#">Patriotic Articles</a>
						</li>
						<li>
							<a href="#">Business</a>
						</li>
						<li>
							<a href="#">Romance</a>
						</li>
						<li>
							<a href="#">Health</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="indya-col-lg-3 indya-col-md-6">
				<div class="footer_menu">
					<h3>Company</h3>
					<ul>
						<li>
							<a href="/about-us">About Us</a>
						</li>
						<li>
							<a href="/contact-us">Contact Us</a>
						</li>
						<li>
							<a href="/terms-condition">Terms of use</a>
						</li>
						<li>
							<a href="/disclaimer">Disclaimer</a>
						</li>
					</ul>
				</div>
				<!-- start connect with us -->
				<div class="loginwith connet_with">
					<h3>Connect With Us</h3>
						<ul>
												<li class="face_icon">
													<a href="#"><img src="images/icons/facebook.svg"></a>
												</li>
												<li class="twit_icon">
													<a href="#"><img src="images/icons/twitter.svg"></a>
												</li>
												<li class="google_icon">
													<a href="#"><img src="images/icons/google-plus.svg"></a>
												</li>
											</ul>
				</div>
				<!-- end connect with us -->
			</div>
		</div>
	</div>
</div>
<!-- end footer -->
<!-- start last footer -->
<div class="indya-container-fluid last_footer_bg">
	<div class="indya-container">
		<div class="indya-row">
			<div class="indya-col-md-12">
				<div class="last_ftr_cntnt">
					<p>2020 © indyaspeak.com. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end last footer -->

<!-- start modal popup -->
<!-- <div class="home_modal_popup" id="modal_popup">
	
	
</div>
<div class="modal_fix_box" id="modalform">
		<div class="modal_box">
				<div class="close_btn" id="close_btn">
					<span><img src="images/icons/close.svg"></span>
				</div>
				<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-10 media_fullwidth">
						<div class="login_main_box modal_bg">
							<div class="logintxt">
								<h1 class="h1_heading">Log In</h1>
							</div>
							<div class="loginform">
								<% if(messages.error){%>
									<span style="color: red;"><%=messages.error%></span>	
								<% }%>
								<form action="/login" method="POST">
									<ul>
										<li>
											<input type="email" name="email" placeholder="Enter Email Id">
										</li>
										<li>
											<input type="password" name="password" placeholder="Enter Password">
										</li>
										<li>
											<input type="checkbox" name="" > Remember me
										</li>
										<li>
											<a href="#" class="forgat_pass">Forget Password</a>
										</li>
										<li>
											<input type="submit" name="" value="Log In">
										</li>
									</ul>
								</form>
								<div class="indya-row">
									<div class="indya-col-md-12">
										<div class="loginwith">
											<p>Or Sign Up Using</p>
											<ul>
												<li class="face_icon">
													<a href="#"><img src="images/icons/facebook.svg"></a>
												</li>
												<li class="twit_icon">
													<a href="#"><img src="images/icons/twitter.svg"></a>
												</li>
												<li class="google_icon">
													<a href="#"><img src="images/icons/google-plus.svg"></a>
												</li>
											</ul>
										</div>
										<div class="sinup_cntnt">
											<p>Have Not Account Yet?</p>
											<a href="/signup">Sign Up</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

<!-- end modal popup -->
<script>
	//search menu
		var selement = document.getElementById("search_box2");
   		var sbtn = document.getElementById("btm_search_icon");
		function searchaddclass() {
		   selement.classList.toggle("btm_search_add");
		}
		
			sbtn.addEventListener("click", searchaddclass);

	//modal popup
// 	var modal_box2 = document.getElementById("modal_popup");
// 	var login_btn =  document.getElementById("modla_login_btn");
// 	var modal_form = document.getElementById("modalform");
// 	var close_btn = document.getElementById("close_btn");
// 	function modalshow() {
// 		   modal_box2.classList.add("modaladdclass");
// 		   modal_form.classList.add("modal_fix_addclass");
// 		}
// 		function modalhide() {
// 		   modal_box2.classList.remove("modaladdclass");
// 		   modal_form.classList.remove("modal_fix_addclass");
// 		}
// 			login_btn.addEventListener("click", modalshow);
// 			modal_box2.addEventListener("click", modalhide);
// 			close_btn.addEventListener("click", modalhide);

</script>
<!-- slider -->
<!-- scroll -->
<script>
	window.onscroll = function() {myFunction()};
	var header = document.getElementById("navigation");
	var sticky = header.offsetTop;

	function myFunction() {
	  if (window.pageYOffset > sticky) {
	    header.classList.add("sticky");
	  } else {
	    header.classList.remove("sticky");
	  }
	}
</script>

</body>
</html>