<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Ring Tone</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<?php include 'header.php';?>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="index.php">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> Inner Polls</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start polls content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<div class="indya-col-md-9">
			<div class="indya-row">
				<div class="indya-col-md-12">
					<div class="home_slider2">
						<div class="news_top_heading">
							<h1 class="h1_heading">Get Latest Polls</h1>
							<a href="post-polls.php" class="update_btn"><img src="images/icons/cloud-computing.svg"> Update Polls</a>
						</div>
					</div>
				</div><!--end/col-->
			</div><!--end/row-->
			<div class="indya-row">
				<div class="indya-col-md-12">
					<div class="polls_cntnt inner_polls_cntnt">
						<a href="inner-polls.php"><h3>Do you support Citizen Amendment Bill 2019 (CAB)?</h3></a>
						<h6 class="h6_heading"><span class="inner_user_icon"><i class="fas fa-user"></i></span> Posted on 9th Jan 2020 by <span><a href="#">Lalit Baghel</a></span> | <span class="inner_user_icon"><i class="fas fa-clock"></i></span>  <span>Tue, Jan 28 2020 11:43 IST</span></h6>
						<div class="inner_new_img">
										<div class="polls_share_btn">
										  	<ul>
										  		<li><a href="#">1 <span> <i class="fas fa-thumbs-up"></i></span></a></li>
										  		<li><a href="#">2 <span><i class="fas fa-thumbs-down"></i></span></a></li>
										  		<li><a href="#">Share<span><i class="fas fa-share"></i></span></a></li>
										  	</ul>
					  					</div>
									</div>
					   <div class="polls_chack_box">
							<ul>
								<li>
									<label class="container">A : Yes
									  <input type="radio" checked="checked" name="radio1">
									  <span class="checkmark"></span>
									</label>
									<label class="container">B : No
									  <input type="radio" name="radio1">
									  <span class="checkmark"></span>
									</label>
									<label class="container"> C : I do not know what it is
									  <input type="radio" name="radio1">
									  <span class="checkmark"></span>
									</label>
									<label class="container"> D : Neutral
									  <input type="radio" name="radio1">
									  <span class="checkmark"></span>
									</label>
								</li>
							</ul>
					  </div>
					  <!--start polls review cntnt -->
					  <div class="polls_revies_cntnt">
					  	<h4>Polls till now</h4>
					  	<ul>
					  		<li>
					  			9 Polls till now
					  		</li>
					  		<li>
					  			9 Polls till now
					  		</li>
					  		<li>
					  			9 Polls till now
					  		</li>
					  		<li>
					  			9 Polls till now
					  		</li>
					  	</ul>
					  </div>
					  <!--end polls review cntnt -->
					  <div class="polls_share_btn">
					  	<ul>
					  		<li><a href="#" class="polls_fc"><span><img src="images/icons/facebook.svg"></span></a></li>
					  		<li><a href="#" class="polls_tw"><span><img src="images/icons/twitter2.svg"></span></a></li>
					  		<li><a href="#" class="polls_whatsapp"><span><img src="images/icons/whatsapp.svg"></span></a></li>
					  		<li><a href="#" class="polls_instragram"><span><img src="images/icons/instagram.svg"></span></a></li>
					  	</ul>
					  </div><!--icons-->
					  <div class="inner_nxt_btn">
						<a href="#"><img src="images/icons/back.svg"></a>
						<a href="#"><img src="images/icons/next.svg"></a>
						</div>
					</div>
				</div><!--end/col-->
			</div><!--end/row-->
			
		</div><!--end/col-->
		<div class="indya-col-md-3">
			<!-- start follow -->
			<?php include 'right-media.php';?>
			<!-- end follow -->
		</div>
	</div><!--end/row-->
</div>
<!-- end polls content -->




<?php include 'footer.php';?>