<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Account</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<?php include 'header.php';?>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="index.php">Home</a></span>  <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> Ringtone</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start middle content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<div class="indya-col-md-9">
			<div class="indya-row">
				<div class="indya-col-md-12">
					<div class="home_slider2 p-b-2">
						<div class="news_top_heading">
							<h1 class="h1_heading">Get Latest News Headlines</h1>
							<a href="post-ringtone.php" class="update_btn"><img src="images/icons/cloud-computing.svg"> Upload Ringtone</a>
						</div>
					</div>
				</div><!--end/col-->
			</div><!--end/row-->
			<div class="indya-row">
				<div class="indya-col-md-12">
					<div class="middle_news">
						<div class="middle_news_content new_innerpage ring_tone_inner">
							<h3 class="h3_heading">Ringtone - Soniyo Tu Mp3 Ringtone Download - Adhyayan Summan </h3>
							<div class="auto_ringtone">
								<audio class="auto_class" controls autoplay>
								  <source src="images/ring-1.ogg" type="audio/ogg">
								  <source src="images/ring-1.mp3" type="audio/mpeg">
								  Your browser does not support the audio element.
								</audio>
							</div><!--end/ringtone-->
							<div class="ringtone_all_information">
								<div class="indya-row ">
									<div class="indya-col-md-12">
										<div class="ringtone_download_btn">
											<a href="#"><span class="icon_down"><img src="images/icons/download-white.svg"></span>Download Ringtone</a>
										</div>
									</div><!--end/col-->
									<div class="indya-col-md-3 information_col_m_t">
										<h6 class="inform_head"><span class="information_icn"><img src="images/icons/playlist.svg"></span>Album/Artist</h6>
										<P class="inform_name">Lalit</P>
									</div><!--end/col-->
									<div class="indya-col-md-3 information_col_m_t">
										<h6 class="inform_head"><span class="information_icn"><img src="images/icons/user3.svg"></span>Upload BY</h6>
										<P class="inform_name">Lalit</P>
									</div><!--end/col-->
									<div class="indya-col-md-3 information_col_m_t">
										<h6 class="inform_head"><span class="information_icn"><img src="images/icons/event.svg"></span>Upload Time</h6>
										<P class="inform_name">12:30AM</P>
									</div><!--end/col-->
									<div class="indya-col-md-3 information_col_m_t">
										<h6 class="inform_head"><span class="information_icn"><img src="images/icons/download.svg"></span>Download</h6>
										<P class="inform_name">120</P>
									</div><!--end/col-->
									<div class="indya-col-md-3 information_col_m_t">
										<h6 class="inform_head"><span class="information_icn"><img src="images/icons/music-and-multimedia.svg"></span>Size</h6>
										<P class="inform_name">10KB</P>
									</div><!--end/col-->
									<div class="indya-col-md-3 information_col_m_t">
										<h6 class="inform_head"><span class="information_icn"><img src="images/icons/eye.svg"></span>Views</h6>
										<P class="inform_name">12000</P>
									</div><!--end/col-->
								</div><!--end/row-->
							</div>
							<div class="inner_nxt_btn">
								<a href="#"><img src="images/icons/back.svg"></a>
								<a href="#"><img src="images/icons/next.svg"></a>
							</div>
						</div>
					</div>
				</div><!--end/col-->
			</div><!--end/row-->
			<div class="indya-row inner_other_new">
				<div class="indya-col-md-12">
					<div class="middle_top_story ringtone_other_head">
						<h1 class="h1_heading">Other Ringtone</h1>
					</div>
					<div class="ringtone_other">
						<h3 class="h3_heading">Ringtones of Neha Kakkar</h3>
					</div>
				</div><!--end/col-->
				<div class="indya-col-md-12 indya-col-lg-6">
							<div class="ring_tones_box">
								<ul>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class=".new_t_tag_clr">Views : 118525</p>
														<p class=".new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
								</ul>	
					</div>
				</div><!--col/md-->
				<div class="indya-col-md-12 indya-col-lg-6">
							<div class="ring_tones_box">
								<ul>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class=".new_t_tag_clr">Views : 118525</p>
														<p class=".new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
								</ul>	
					</div>
				</div><!--col/md-->

			</div><!--end/row-->
		</div><!--end/col-->
		<div class="indya-col-md-3">
			<!-- start follow -->
			<?php include 'right-media.php';?>
			<!-- end follow -->
		</div>
	</div><!--end/row-->
</div>
<!-- end middle content -->



<?php include 'footer.php';?>