<%- include('header') %>

<!-- login -->
	<div class="indya-container">
		<div class="indya-row">
			<div class="indya-col-md-8 indya-col-lg-6 media_fullwidth">
				<div class="login_main_box">
					<div class="logintxt">
						<h1 class="h1_heading">Log In</h1>
					</div>
					<div class="loginform">
						<% if(messages.error){%>
							<span style="color: red;"><%=messages.error%></span>	
						<% }%>
						<form action="/login" method="POST">
							<ul>
								<li>
									<input type="email" name="email"   placeholder="Enter Email Id">
								</li>
								<li>
									<input type="password" name="password" placeholder="Enter Password">
								</li>
								<!-- <li>
									<input type="checkbox" name="" > Remember me
								</li> -->
								<!-- <li>
									<a href="#" class="forgat_pass">Forget Password</a>
								</li> -->
								<li class="submit_btn">
									<input type="submit" name="" value="Log In">
								</li>
							</ul>
						</form>
						<!-- login with facabook & gmail  -->
						<div class="indya-row">
							<div class="indya-col-md-12">
								<div class="loginwith">
									<p>Or Sign Up Using</p>
									<ul>
												<li class="face_icon">
													<a href="#"><img src="images/icons/facebook.svg"></a>
												</li>
												<li class="twit_icon">
													<a href="#"><img src="images/icons/twitter.svg"></a>
												</li>
												<li class="google_icon">
													<a href="#"><img src="images/icons/google-plus.svg"></a>
												</li>
									</ul>
								</div>
								<div class="sinup_cntnt">
									<p>Have Not Account Yet?</p>
									<a href="/signup">Sign Up</a>
								</div>
							</div>
						</div>
						<!-- login with facabook & gmail  -->
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end login -->
<%- include('footer') %>