<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Ring Tone</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include ('header') %>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="index">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> Write an Article/ Poem / Joke or anything</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start polls content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<div class="indya-col-md-9">
			<div class="login_main_box">
					<div class="logintxt">
						<!-- <h1 class="h1_heading" style="text-align: center;">Write an Article/ Poem / Joke or anything</h1> -->
					</div>
					<div class="loginform pages_post">
						<% if(messages.error){%>
							<span style="color: red;"><%=messages.error%></span>	
						<% }%>
						<form ref='uploadForm' id='uploadForm' method="POST" action="/news-post" encType="multipart/form-data">

							<ul>
								<li>
									<div class="indya-row">
										<div class="indya-col-md-4 indya-col-lg-3">
											<label>Writing Category</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											<div class="post_selec">
												
												<select name="category" onchange="showDivs(Divs,this)">
													<option value="0News">News</option><option value="1Jokes">Jokes</option><option value="2Poetry">Poetry</option>
													<option value="3Articles">Articles</option><option value="4Forums">Forums</option><option value="5Fake News">Fake News</option>
													<option value="6Coupons">Coupons</option>
												</select>
											
											</div>

											
										</div>
									</div>
								</li>

								<li>
									<div class="indya-row">
										<div class="indya-col-md-4 indya-col-lg-3">
											<label>Writing Type</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											

											<div class="categoryDivs" style="display: block;">
												<select name="addNewsType">
													<option>News in Politics</option><option>Cricket News</option><option>Sports News</option><option>Entertainment News</option><option>Technology News</option><option>Business News</option><option>Education News</option>
												</select>
											</div>
											<div class="categoryDivs">
												<select >
													<option>Husband Wife Jokes</option><option>Political humor</option><option>Girlfriend-Boyfriend</option>
						                        	<option>Santa Banta</option><option>All time jokes</option><option>Celebrity jokes</option>
						                        	<option>Computer &amp; Technology</option><option>Alia Bhatt Jokes</option><option>Jokes in hindi</option>
						                        	<option>Jokes of the day</option><option>One Liner Jokes</option><option>Funny Jokes for kids</option>
						                        	<option>Short Funny Jokes</option><option>April Fool Jokes</option><option>Yo Momma Jokes</option><option>Birthday Jokes</option>
												</select>
											</div>
											<div class="categoryDivs">
												<select >
													<option>Poems on life</option><option>Silly Poems</option><option>Poems to flirt</option>
						                        	<option>Patriotic Poems</option><option>Love Poems</option><option>Friendship Poems</option><option>Sad Poems</option>
												</select>
											</div>

											<div class="categoryDivs">
												<select >
													<option>Social</option>
						                        	<option>National Issues</option>
						                        	<option>Political</option>
						                        	<option>Cultural</option>
						                        	<option>Historical</option>
						                        	<option>Patriotic Articles</option>
						                        	<option>Business</option>
						                        	<option>Romance</option>
						                        	<option>Health</option>
												</select>
											</div>
											<div class="categoryDivs">
												<select >
													<option>PHP Forum</option>
						                        	<option>Java</option>
						                        	<option>C++</option>
						                        	<option>J2ME</option>
						                        	<option>.Net</option>
						                        	<option>SAP</option>
						                        	<option>C</option>
						                        	<option>Oracle</option>
												</select>
											</div>

											<div class="categoryDivs">
												<select >
													<option>Bollywood Fake News</option>
						                        	<option>Hollywood Fake News</option>
						                        	<option>Cricket Fake News</option>
						                        	<option>Political Fake News</option>
												</select>
											</div>

											<div class="categoryDivs">
												<select >
													<option >Online Shopping Coupons</option>
						                        	<option >Food Ordering Coupons</option>
						                        	<option >Mobile Recharge Coupons</option>
						                        	<option >Travel Coupons</option>
												</select>
											</div>
											

											
										</div>
									</div>
									<script type="text/javascript">
										const Divs = document.getElementsByClassName('categoryDivs');
									
										
										function showDivs(Divs,evt){
											for(var i =0;i<Divs.length; i++){
												const selectDiv = Divs[i].children
												const selectValue = Number(evt.value[0]);
												if(selectValue == [i]){
													Divs[i].style.display ='block';
													selectDiv[0].setAttribute('name', 'addNewsType');
												}else{
													Divs[i].style.display ='none';
													selectDiv[0].removeAttribute('name');
												}
											}
											
										}
									</script>
								</li>
								<li>
									<div class="indya-row">
										<div class="indya-col-lg-3 indya-col-md-4">
											<label>Title</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											<input type="text" name="title" placeholder="Enter Title" >
										</div>
									</div>
								</li>
								<li>
									<div class="indya-row">
										<div class="indya-col-md-4 indya-col-lg-3">
											<label>Description</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											<textarea cols="" rows="" name="description" placeholder="Enter Description"></textarea>
										</div>
									</div>
								</li>
								<li>
									<div class="indya-row">
										<div class="indya-col-lg-3 indya-col-md-4">
											<label>Photo</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											<input type="file" name="img"  style="position: absolute;width: 100%;height: 100%;opacity: 0;cursor: pointer;z-index: 1;"  />
											<div  class="post_image" >
												<span><img src="images/icons/cloud-computing.svg"></span> <span>Upload Image</span>
											</div>
										</div>
									</div>
								</li>
								<li class="submit_btn">
									<div class="indya-row">
										<div class="indya-col-md-6"></div>
										<div class="indya-col-md-6">
											<input type="submit" name="" value="Submit">
										</div>
									</div>
								</li>
							</ul>
						</form>
					</div>
				</div>
			
		</div><!--end/col-->
		<div class="indya-col-md-3">
			<!-- start follow -->
			<%- include ('right-media') %>
			<!-- end follow -->
		</div>
	</div><!--end/row-->
</div>
<!-- end polls content -->



<%- include ('footer') %>