<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Account</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<?php include 'header.php';?>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="index.php">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span></span> Inner News</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start middle content -->
<div class="indya-container-fluid indya_sec_p">
	<div class="indya-container">
		<div class="indya-row">
			<div class="indya-row">
				<div class="indya-col-md-9">
					<div class="indya-row">
						<div class="indya-col-md-12">
							<div class="home_slider2 p-b-2">
								<div class="news_top_heading">
									<a href="news-post.php" class="update_btn"><img src="images/icons/cloud-computing.svg"> Write News</a>
								</div>
							</div>
						</div>
						<div class="indya-col-md-12">
							<div class="middle_news">
								<div class="middle_news_content new_innerpage">
									<h3 class="h3_heading">"Deepika marked presence at JNU only a film related publicity stunt": statement marked by the film maker Anurag Kashyap </h3>
									<h6 class="h6_heading"><span class="inner_user_icon"><i class="fas fa-user"></i></span> Posted on 9th Jan 2020 by <span><a href="#">Lalit Baghel</a></span> | <span class="inner_user_icon"><i class="fas fa-clock"></i></span>  <span>Tue, Jan 28 2020 11:43 IST</span></h6>
									<div class="inner_new_img">
										<div class="polls_share_btn">
										  	<ul>
										  		<li><a href="#">1 <span> <i class="fas fa-thumbs-up"></i></span></a></li>
										  		<li><a href="#">2 <span><i class="fas fa-thumbs-down"></i></span></a></li>
										  		<li><a href="#">Share<span><i class="fas fa-share"></i></span></a></li>
										  	</ul>
					  					</div>
					  					<div class="inner_news_img">
					  						<img src="images/img1.jpg">
					  					</div>
									</div>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
									<div class="inner_nxt_btn">
										<a href="#"><img src="images/icons/back.svg"></a>
										<a href="#"><img src="images/icons/next.svg"></a>
									</div>
									</div>
							</div>
						</div>
					</div><!--end/row-->
					<div class="indya-row inner_other_new">
						<div class="indya-col-md-12">
							<div class="middle_top_story">
							<h1 class="h1_heading">Other news</h1>
						</div>
						</div><!--col/end-->
						<div class="indya-col-md-12">
							<div class="middle_news">
							<div class="middle_news_content_img">
								<ul>
									<li>
										<a href="#">
											<div class="indya-row">
												<div class="indya-col-md-2" style="padding-left: 0px;padding-right: 0px;">
													<div class="left_img_new">
														<img src="images/img1.jpg">
													</div>
												</div>
												<div class="indya-col-md-10">
													<h5>"Deepika marked presence at JNU only a film related publicity stunt": statement marked by the film maker Anurag Kashyap</h5>
													<p class="new_t_tag_clr">Actor Deepika Padukone's visit to the Jawaharlal Nehru University (JNU) in Delh</p>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="indya-row">
												<div class="indya-col-md-2" style="padding-left: 0px;padding-right: 0px;">
													<div class="left_img_new">
														<img src="images/img1.jpg">
													</div>
												</div>
												<div class="indya-col-md-10">
													<h5>"Deepika marked presence at JNU only a film related publicity stunt": statement marked by the film maker Anurag Kashyap</h5>
													<p class="new_t_tag_clr">Actor Deepika Padukone's visit to the Jawaharlal Nehru University (JNU) in Delh</p>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="indya-row">
												<div class="indya-col-md-2" style="padding-left: 0px;padding-right: 0px;">
													<div class="left_img_new">
														<img src="images/img1.jpg">
													</div>
												</div>
												<div class="indya-col-md-10">
													<h5>"Deepika marked presence at JNU only a film related publicity stunt": statement marked by the film maker Anurag Kashyap</h5>
													<p class="new_t_tag_clr">Actor Deepika Padukone's visit to the Jawaharlal Nehru University (JNU) in Delh</p>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="indya-row">
												<div class="indya-col-md-2" style="padding-left: 0px;padding-right: 0px;">
													<div class="left_img_new">
														<img src="images/img1.jpg">
													</div>
												</div>
												<div class="indya-col-md-10">
													<h5>"Deepika marked presence at JNU only a film related publicity stunt": statement marked by the film maker Anurag Kashyap</h5>
													<p class="new_t_tag_clr">Actor Deepika Padukone's visit to the Jawaharlal Nehru University (JNU) in Delh</p>
												</div>
											</div>
										</a>
									</li>
									
								</ul>
							</div>
						
						</div>
						</div><!--end/col-->
					</div><!--end/row-->
				</div><!--end/col-->
				<div class="indya-col-md-3">
					<!-- start follow -->
				<?php include 'right-media.php';?>
				<!-- end follow -->
				</div><!--end/col-->
			</div><!--end/row-->
		</div>
	</div>
</div>
<!-- end middle content -->

<?php include 'footer.php';?>