<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Ring Tone</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include ('header') %>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="index.php">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> Ring Tone</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start middle content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<div class="indya-col-md-9">
			<div class="indya-row">
				<div class="indya-col-md-12">
					<div class="home_slider2  p-b-1">
					<div class="news_top_heading">
						<h1 class="h1_heading">Download Latest Ringtones</h1>
						<a href="/post-ringtone" class="update_btn"><img src="images/icons/cloud-computing.svg"> Update Ringtone</a>
					</div>
				</div>
				</div>
			</div><!--end/row-->
			<div class="indya-row">
				<div class="indya-col-md-12 indya-col-lg-6">
							<div class="ring_tones_box">
								<ul>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="inner-ringtone.php">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class=".new_t_tag_clr">Views : 118525</p>
														<p class=".new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
								</ul>	
					</div>
				</div><!--col/md-->
				<div class="indya-col-md-12 indya-col-lg-6">
							<div class="ring_tones_box">
								<ul>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
									<li>
										<div class="indya-row">
											<div class="indya-col-md-2 col-p-l">
												<div class="ring_tones_icn">
													<a href="#">
														<img src="images/icons/music.svg">
													</a>
												</div>
											</div>
											<div class="indya-col-md-10 col-p-l">
												<div class="ring_tone_txt">
													<a href="#">
														<h6>Do Ekam Do - Sonu Nigam - Jai Maa Vaishno Devi Mp3 </h6>
													</a>
													<div class="rintone_views_txt">
														<p class="new_t_tag_clr">Views : 118525</p>
														<p class="new_t_tag_clr">Downloads : 14695</p>
													</div>
												</div>
											</div>
												<!-- like & dislike btn -->
											<div class="ring_like">
												<ul>
													<li><a href="#"><span>0</span> <span><img src="images/icons/like.svg"></span></a></li>
													<li><a href="#"><span>1</span> <span><img src="images/icons/hand-gesture.svg"></span></a></li>
												</ul>
											</div>
										</div><!--end/row-->
									</li>
								</ul>	
					</div>
				</div><!--col/md-->
				<div class="indya-col-md-12">
					<!-- start pagination -->
					<div class="news_pagination_p_t">
						<div class="indya-row">
							<div class="indya-col-md-12">
								<div class="new_pagination">
									<ul>
										<li>
											<a href="#"><img src="images/icons/back2.svg"></a>
										</li>
										<li>
											<a href="#" class="active">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">3</a>
										</li>
										<li>
										</li>
										<li>
											<a href="#">....</a>
										</li>
										<li>
											<a href="#">10</a>
										</li>
										<li>
											<a href="#"><img src="images/icons/next2.svg"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- end pagination -->
				</div><!--end/col-->
			</div><!--end/row-->
		</div><!--col/end-->
		<div class="indya-col-md-3">
			<!-- start follow -->
			<%- include ('right-media') %>
			<!-- end follow -->
		</div><!--col/end-->
	</div>
</div>
<!-- end middle content -->




<%- include  ('footer')%>