<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Account</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include ('header')%>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="index.php">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> Terms and Condition</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start middle content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<!-- contnt -->
		<div class="indya-col-md-9">
			<div class="terms_condition_txt">
				<h3>Welcome to Indyaspeak.COM</h3>
				<br>
				<h4>Basic Terms</h4>
				<ul>
					<li><span>Acceptance of Terms:</span> By signing up for or using the various Indyaspeak services or Web site (collectively, the "Service") you ("You" or "Your") agree that You have read, understand and agree to be legally bound by the terms and conditions set forth or referenced below ("Terms of Use"). If You do not agree to these Terms of Use, do not use or access the Service. Indyaspeak reserves the right to change these Terms of Use from time to time and at its sole discretion. Your continued use of the Service following the posting of any changes to the Terms of Use constitutes Your acceptance of such changes. You agree to visit the most current version of these Terms of Use at www.Indyaspeak.com at all time before using the Services. For using the Services You must be 18 years or older to use this site. You must not, in the use of Indyaspeak, violate any laws in Your jurisdiction.</li>
					<li><span>Permitted Use:</span> The Service is for Your personal and non-commercial use. Unless otherwise agreed to in writing by Indyaspeak, You agree that You will not use the Service or duplicate, download, publish, modify or otherwise distribute or use any material included in the Service for any purpose, except to review the information included in the Service, to subscribe to programs included in the Service, or purchase other products offered by Indyaspeak or one of its partners for Your personal use. You also agree that You will not link to any page on the Service other than Indyaspeak's home page, without Indyaspeak's prior written consent. Use of the Service or the materials or content contained in the Service for any purpose not set forth in these Terms of Use is prohibited.</li>
					<li><span>Registration, Accounts and Passwords:</span> You agree to
					<ol>
						<li>Provide true, accurate, current and complete data about Yourself on the Indyaspeak registration form ("Registration Data") and</li>
						<li>Promptly update the Registration Data to keep it true, accurate, current and complete. If You fail to do any of these things, Indyaspeak will have the right to suspend or terminate Your use of the Service and/or terminate Your account. You will receive a password and account upon completing the registration form. You are solely responsible for maintaining the confidentiality of Your password and account, and You are solely responsible for all use of Your password or account, whether authorized by You or not. You agree to (a) immediately notify Indyaspeak of any unauthorized use of Your password or account or any other breach of security and (b) ensure that You exit from Your account each time You use the Service. Access and use of password protected and/or secure areas of the Service, is restricted to users who have been given a valid password by Indyaspeak. Unauthorized individuals attempting to access these areas of the Service may be subject to prosecution.</li>

					</ol>
				</li>
				<li>Indyaspeak reserves the right to use Your email and demographic information such as age, sex and location to conduct targeted marketing campaigns even for third parties wishing to advertise using our database. Indyaspeak also reserves the right to sell this information and also the entire site to a third party if a third party is desirous of purchasing this information. You shall not have any objection upon any email Communication by Indyaspeak, any third party on its behalf or any other party authorized by Indyaspeak in this regard communication to You regarding any matter connected with Indyaspeak. You hereby express your interest and accord your willful consent to receive communication.</li>
				<li><span>User Conduct:</span> You agree that You will not use the Service to upload, post, or otherwise distribute or facilitate distribution of any material that
					<ol>
						<li>is libelous, defamatory or slanderous;</li>
						<li>is sexually suggestive or contains explicit sexual content (including nudity);</li>
						<li>does or may denigrate or offend any individual or group on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;</li>
						<li>does or may threaten, abuse, harass, or invade the privacy of any third party;</li>
						<li>infringes the rights of any third party, including, without limitation, patent, trademark, trade secret, copyright, right of publicity, or other proprietary rights;</li>
						<li>condones, promotes, contains or links to warez, cracks, hacks or similar utilities or programs;</li>
						<li>constitutes unauthorized or unsolicited advertising, junk or bulk e-mail (also known as "spam"), chain letters, any other form of unauthorized solicitation, or any form of lottery or gambling;</li>
						<li>contains a software virus or any other computer code that is designed or intended to disrupt, damage, or limit the functioning of any software, hardware, or telecommunications equipment, or to damage or obtain unauthorized access to any data or other information of any third party;</li>
						<li>impersonates any person or entity, including any employee or representative of Indyaspeak; or</li>
						<li>violates any applicable law or these Terms of Use. You agree that You will not collect information about third parties via the Service or use any such information for the purpose of transmitting or facilitating transmission of unauthorized or unsolicited advertising, junk or bulk e-mail, chain letters, or any other form of unauthorized solicitation. You agree that You will not engage in the systematic retrieval of data or other content from the Service to create or compile, directly or indirectly, a collection, compilation, database or directory, without Indyaspeak's prior written consent.</li>
						<li>condones, promotes, contains or links to warez, cracks, hacks or similar utilities or programs;</li>
					</ol>
				</li>
					<li><span>Grant of Limited License:</span> If You post any content to the Service, You hereby grant Indyaspeak and its affiliates and licensees a worldwide, royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, publicly display, publicly perform, modify, sublicense, and distribute such content, and incorporate it in other works, in whole or in part, in any manner and any media now known or hereafter developed. You represent and warrant that You own such content or otherwise have sufficient rights in the content to grant to Indyaspeak the license set forth in this section without infringing or violating the rights of any third party.</li>
					<li><span>EXCLUSION OF DAMAGES:</span> Indyaspeak and its subsidiaries and licensors will not be liable to You or any third party for any direct, indirect, punitive, incidental, special, consequential damages (including damages relating to lost profits, lost data or loss of goodwill) or any damages whatsoever that result from Your use of or inability to use the Service. This limitation applies whether the alleged liability is based on contract, tort, negligence, strict liability, or any other legal theory, and even if Indyaspeak has been advised of the possibility of such damage. Without limiting the foregoing, Indyaspeak will not be liable for any loss or damage arising out of
						<ol>
							<li>Your failure to comply with section</li>
							<li>(registration, accounts and passwords) or (2) content posted to the Service by You or any third party</li>
						</ol>
					</li>
					<li><span>THIRD-PARTY WEB SITES:</span> The third-party web sites linked to or from the Service are not controlled by Indyaspeak. Accordingly, Indyaspeak makes no warranties or conditions regarding such third-party web sites and will not be liable for any loss or damage caused by Your use of or reliance on such web sites. Your use of third-party web sites is at Your own risk. The inclusion on the Service of a link to a third-party web site does not imply an endorsement by Indyaspeak.</li>
					<li><span>Indemnification:</span> You will indemnify and hold harmless Indyaspeak and its representatives, agents, affiliates, directors, officers, employees, managers and shareholders (the "Indemnified Parties"), and at Indyaspeak's option defend the Indemnified Parties, from and against any damage, loss, cost or expense (including without limitation, legal fees and costs) incurred in connection with any third-party claim, demand, proceeding or action ("Claim") brought against any of the Indemnified Parties arising out of Your use of the Service or any alleged breach by You of any provision of these Terms of Use. If You are obligated to indemnify Indyaspeak, Indyaspeak may, in its sole and absolute discretion, control the defense and disposition (including its possible settlement) of any Claim at Your sole cost and expense. Without limitation of the foregoing, You will not settle, compromise or in any other manner dispose of any Claim without the written consent of Indyaspeak</li>
					<li><span>Termination:</span> In its sole and absolute discretion, with or without notice to You, Indyaspeak may
						<ol>
							<li>suspend or terminate Your use of the Service, or</li>
							<li>You may terminate Your account for any reason. Indyaspeak shall not be liable to You or any third party for any claims or damages arising out of any termination or suspension of the Services</li>
						</ol>
					</li>
					<li><span>General :</span>
						<ol>
							<li>These Terms of Use and the relationship between You and Indyaspeak shall be governed by the laws of the INDIA and of New Delhi without regard to its conflict of law provisions. Any action or proceeding arising from, relating to or in connection with these Terms of Use will be brought exclusively in the courts located in New Delhi, and You irrevocably consent to the personal jurisdiction of such courts.</li>
							<li>No failure or delay by Indyaspeak in exercising any right, power or privilege under these Terms of Use will operate as a waiver thereof, nor will any single or partial exercise of any right, power or privilege preclude any other or further exercise thereof or the exercise of any other right, power, or privilege under these Terms of Use.</li>
							<li>The invalidity or unenforceability of any provision of these Terms of Use will not affect the validity or enforceability of any other provision, all of which will remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of, related to or connected with the use of the Service or these Terms of Use must be filed within one year after such claim or cause of action arose or be forever barred.</li>
							<li>The section titles in these Terms of Use are for convenience only and have no legal or contractual effect. These Terms of Use represent the entire understanding of the parties regarding its subject matter, and supersede all prior and contemporaneous agreements and understandings between the parties regarding its subject matter.</li>
							<li>These terms and conditions are binding upon and shall ensure to the benefit of both parties and their respective successors, heirs, executor, administrators, personal representatives and permitted assigns. You shall not assign Your rights or obligations hereunder without Indyaspeak's prior written consent</li>
					</li>
				</ul>
			</div>
		</div><!--end/col-->
		<!-- contnt -->
		<!-- right menu -->
		<div class="indya-col-md-3">
			<!-- start follow -->
				<%- include ('usefull-links') %>
				<%-include('right-media') %>
				<!-- end follow -->
		</div><!--end/col-->
		<!-- right menu -->
	</div><!--end/row-->
</div>

<%- include ('footer')%>