<!DOCTYPE html>
<html>
<head>
	<title>Indya Speak | Account</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<?php include 'header.php';?>
	<!-- start small slider -->
		<div class="ringtone_bg_tp">
			<div class="indya-container">
				<div class="indya-row">
					<div class="indya-col-md-12">
						<h5><span class="rng_tn_anker"><a href="index.php">Home</a></span> <span class="rng_tn_icon"><img src="images/icons/double-left-chevron.svg"></span> Update your mobile number</h5>
					</div>
				</div>
			</div>
		</div>
	<!-- end small slider -->
<!-- start slider -->

<!-- end slider -->
<!-- start middle content -->
<div class="indya-container indya_sec_p">
	<div class="indya-row">
		<!-- contnt -->
		<div class="indya-col-md-9">
		<div class="login_main_box">
					
					<div class="loginform pages_post">
						<form>

							<ul>
								
								<li>
									<div class="indya-row">
										<div class="indya-col-lg-3 indya-col-md-4">
											<label>Name</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											<input type="text" name="" placeholder="Lalit Baghel">
										</div>
									</div>
								</li>
								<li>
									<div class="indya-row">
										<div class="indya-col-lg-3 indya-col-md-4">
											<label>Website Name</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											<input type="text" name="" placeholder="(e.g. www.example.com)">
										</div>
									</div>
								</li>
								<li>
									<div class="indya-row">
										<div class="indya-col-md-4 indya-col-lg-3">
											<label>Describe yourself</label>
										</div>
										<div class="indya-col-lg-9 indya-col-md-8">
											<textarea cols="" rows="" placeholder="(Max. 200 characters)"></textarea>
										</div>
									</div>
								</li>
								
								<li class="submit_btn">
									<div class="indya-row">
										<div class="indya-col-md-6"></div>
										<div class="indya-col-md-6">
											<input type="submit" name="" value="Upload Profile">
										</div>
									</div>
								</li>
							</ul>
						</form>
					</div>
				</div>
		</div>
		<!-- contnt -->
		<!-- right menu -->
		<div class="indya-col-md-3">
			<!-- start follow -->
				<?php include 'usefull-links.php';?>
				<?php include 'right-media.php';?>
				<!-- end follow -->
		</div>
		<!-- right menu -->
	</div>
</div>

<?php include 'footer.php';?>