<div class="usefull_links">
	<h3>Useful Links</h3>
		<ul>
			<li>
				<a href="/dashboard">User Dashboard</a>
			</li>
			<li>
				<a href="/news-post">Write Poetry / Jokes or anything</a>
			</li>
			<li>
				<a href="/post-polls">Start a Poll</a>
			</li>
			<li>
				<a href="/polls">Your Polls</a>
			</li>
			<li>
				<a href="/edit-polls">Edit Your Polls</a>
			</li>
		</ul>			
</div>